strong,
c {
  font-size: clamp(1.25rem, 0.5vw, 2rem);
}

.img-wrapper {
  overflow: hidden;
}

.img {
  transition: transform 0.3s ease;

  border-radius: 2rem;
}

.img:hover {
  transform: scale(1.10);

}

.card {

  border-Radius: 2rem;

}

.link {
  text-decoration: none;
  text-align: center;
}

strong{
  text-overflow: hidden;
}